# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.env/
venv/
.virtualenv/

# Environment files
.env

# OS files
.DS_Store

# Streamlit files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/